header{
    background-color: rgb(62, 17, 83);
}
body {
      margin: 0;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      background: linear-gradient(to bottom right, #8305b4, #2ff0f0);
      color: #170125;
      text-align: center;
      overflow-x: hidden;
    }
    header {
    
      color: white;
      padding: 20px;
      font-size: 2em;
      animation: fadeIn 2s ease-in-out;
    }
    @keyframes fadeIn {
      from { opacity: 0; transform: scale(0.9); }
      to { opacity: 1; transform: scale(1); }
    }
    .gallery, .videos, .memories {
      margin: 20px;
      padding: 10px;
    }
    .gallery1 img {
      max-width: 90%;
      height: auto;
      margin: 10px;
      border: 3px solid #0bc49c;
      border-radius: 10px;
    }
    .gallery2 img {
     max-width: 90%;
      height: auto;
      margin: 10px;
      border: 3px solid #0bc49c;
      border-radius: 10px;
    }
    video {
      max-width: 90%;
      margin: 10px;
      border: 2px solid #0bc49c;
      border-radius: 10px;
    }
    .memory {
      background: white;
      margin: 10px auto;
      padding: 15px;
      max-width: 600px;
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    }
    @media (max-width: 600px) {
      .gallery img {
        width: 100%;
      }
    }
    .image5{
       
      transform: rotate(-10deg);

    }
    .image10{
      transform: rotate(-10deg);
    }